mixin stats(valor,leyenda)
	.estadistica_elemento
		h3=valor
		span=leyenda
mixin article(categoria,titulo, descripcion)
	.articulo
		span.articulo__categoria=categoria
		h2.articulo__titulo=titulo
		p.articulo__descripcion=descripcion
mixin caja(imagen, categoria, titulo, contenido)
	.caja
		.caja__imagen: img(src="../images/"+imagen)
		.caja__contenido
			span.caja__categoria=categoria
			h3=titulo
			p=contenido
			a Leer Mas	
mixin caja--estadistica(imagen, category, title, summary)
	.caja
		a(href="#",class="card__image"): img(src="../images/"+imagen)
		.caja__contenido
			span.card__category=category
			h3=title
			p=summary
		+estadistica
mixin estadistica
	.estadistica--articulos: ul
		li
			i.fas.fa-share
			span 275
		li
			i.fas.fa-eye
			span 275
		li
			i.fas.fa-comment-alt
			span 12	
doctype html
html
	head
		title PlatziGames
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, maximum-scale=1.0, user-scalable=no')
		link(rel="stylesheet",href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Oswald:400,500,600,700&display=swap" )
		link(rel='stylesheet', href='../css/platzi-games.css')
		script(src='https://kit.fontawesome.com/552ebddad2.js')
	body